<!DOCTYPE html>
<html>

<head>
  <title>KickBall!</title>
  <!-- Google Icon Fonts used by Materialize -->
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <!-- JavaScript for Materialize -->
 
</head>

<body>
    
        <nav class="navbar">
          <div>

            <a href="/ballers" class="brand-logo left">All Ballers</a></div>
            <div>
              <% if (user) { %>
                <a href="/logout"><i class="material-icons left">trending_flat</i>Log Out</a>
              <% } else { %>
                <a href="/auth/google"><i class="material-icons left">vpn_key</i>Login with Google</a>
              <% } %>
    
          </div>
        </nav>
      </div>
  