<!DOCTYPE html>
<html>

<head>
  <title>KickBall!</title>
  <!-- Google Icon Fonts used by Materialize -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <!-- JavaScript for Materialize -->
 
</head>

<body>
    
        <nav class="navbar">
          <div>

            <a href="/ballers" class="brand-logo left">All Ballers</a></div>
            <div class="logos">
            <img src="/images/kissclipart-transparent-kickball-icon-clipart-kickball-footbal-3c82e3d3d21b88f8.png">
            <img src="/images/kissclipart-beer-clipart-beer-stein-t-shirt-4099643bce3ed4a8.png">
            <img src="/images/kissclipart-stick-people-clipart-can-you-rob-the-bank-escape-c7057ad01eca594a.png">
            </div>
            <div>
              <% if (user) { %>
                <a href="/logout"><i class="material-icons left">trending_flat</i>Log Out</a>
              <% } else { %>
                <a href="/auth/google"><i class="material-icons left">vpn_key</i>Login with Google</a>
              <% } %>
    
          </div>
        </nav>
      </div>
  