<%- include('../partials/header') %>

  <h1>Baller Bio</h1>
  <form id="new-form" action="/ballers/<%= baller._id %>?_method=PUT" method="POST" autocomplete="off">
    <label>Team</label>
    <select name="team">
    <option value="Suck My Kick">Suck My Kick</option>
    <option value="Balls and Dolls">Balls and Dolls</option>
    <option value="Lickballers">Lickballers</option>
    <option value="Westside 911">Westside 911</option>
  </select>
  <label>Runs:</label>
  <input type="text" name="runs">
   
    <button type="submit">Update Bio</button>
  </form>

  <%- include('../partials/footer') %>