body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100px 1fr;
  border: solid black 10px;
}

a {
  color: #00B7FF;
}

.avatar {
  border-radius: 10%;
  height: 100px;

}

/* .navbar-fixed {

} */