html, * {
  font-family: 'Roboto', sans-serif;;
  box-sizing: border-box;
}

body {
  
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 200px 800px;
  
  
}

a {
  color: #00B7FF;
}

.avatar {
  border-radius: 10%;
  height: 100px;

}

.small-avatar {
  border: black solid;
  border-radius: 50%;
  height: 40px;
}

.navbar {
  font-size: 40px;
  display: flex;
  grid-column: span 2;
  border: solid black 10px;
  justify-content: space-between;
 align-items: center;
}

.container {
  display: grid;
  grid-column: span 2;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100px 1fr;
}

#search-row {
  grid-column: span 3;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 25px;

}

.info {
  grid-column: span 3;
  display:flex;
  justify-content: center;
  align-items: center;
}

.comments {
  display: grid;
  grid-template-rows: 105px  ;
}

ul {
  text-align: right;
  text-overflow: clip ;
  
  
}

.commenthead{
  grid-row: span 1;
  display: flex;
  justify-content: space-around;
  align-items: center;

}