html,
* {
  font-family: 'Roboto', sans-serif;
  ;
  box-sizing: border-box;
}

body {


  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 150px 800px;
  background: url('/images/kickball-day-1.jpg');
  background-attachment: fixed;
  background-size: cover;

}



a {
  color: white;
  text-decoration: none;
  text-shadow: 2px 2px 5px #555555;
}

a:hover {
  text-decoration: underline;
}

.avatar {
  border-radius: 10%;
  height: 100px;

}

.small-avatar {

  border-radius: 50%;
  height: 46px;
}

.navbar {
  font-size: 40px;
  display: flex;
  grid-column: span 2;
  border-bottom: solid grey 5px;
  justify-content: space-around;
  align-items: center;

}

.container {
  display: grid;
  grid-column: span 2;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100px 1fr;
}

#search-row {
  grid-column: span 3;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 25px;

}

.info {
  grid-column: span 3;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.comments {
  display: grid;
  grid-template-rows: 105px;
  justify-self: center;
}

ul {

  text-align: left;
  word-wrap: break-word;
  list-style-type: none;
  width: 600px;


}

.ul-div {

  display: none;
  justify-content: center;

}

.commenthead {
  grid-row: span 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid grey;


}

.commenthead:hover {
  cursor: pointer;
}

.btn-comment {

  background-color: white;
  color: black;
  border: 2px solid #555555;
  text-align: right;
  height: 40px;
  width: 100px;
}

.btn-comment:hover {
  background-color: #555555;
  color: white;

}

.input-comment-box {
  height: 40px;
  border: 2px solid #555555;
  width: 300px;
}

.addcomm * {
  display: flex;
  justify-content: space-evenly;
  align-items: center;


}

.baller-name,
.baller-team {
  font-size: 40px;

}

.logos * {
  height: 100px;
}

.profile {
  grid-column: span 2;
  display: grid;
  grid-template-columns: 1fr 1fr;



}


.profile-header {
  display: flex;
  align-items: center;
  justify-content: center;


}

.profile-header * {
  margin: 40px;
}

.profile-info {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

}

.profile-info * {
  margin: 10px;
  text-align: center;
  font-size: 25px;
  background: rgba(231, 235, 243, 0.459);
  border-radius: 10px;


}

.profile-comments-header {
  font-size: 60px;
  margin: 0;
  border-bottom: solid grey;
}

.profile-comments {
  grid-column: span 2;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.user-comment-head {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 10px;


}


.user-comment-head-text {
  display: flex;
  align-items: center;

}

li {

  padding: 20px;
  background: rgba(231, 235, 243, 0.459);
  border-radius: 10px;
  border: solid grey;

}

.login-to-comment {
  text-align: center;
}

button{
  background: rgba(128, 128, 128, 0.555);
  color: white;
}